.Header {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  height: auto;
}

.HeaderContent {
  position: absolute;
  top: 52%;
  left: 0%;
  transform: translateY(-50%);
  color: #fff;
}

.HeaderContent h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 4rem;

  color: #ffffff;
}

.HeaderContent p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.25rem;

  color: #ffffff;
}

.HeaderContentBtns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding-top: 4rem;
}

.HeaderContentBtns button {
  padding: 1.25rem 2.5rem;

  background: #ea4949;
  border-radius: 8px;
  border: none;
  outline: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  /* identical to box height */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
  cursor: pointer;
}

.HeaderContentBtns div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .Header {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .HeaderContent h2 {
    font-size: 3.8rem;
    line-height: 2.75rem;
  }

  .HeaderContent p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .HeaderContentBtns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
  }

  .HeaderContentBtns button {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
  }

  .HeaderContentBtns div {
    font-size: 1.3rem;
    line-height: 2.1rem;
  }
}
