.DoctorHome {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}

.DoctorHomeHeader {
  font-family: "Poppins";
}

.DoctorHomeHeader h2 span {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.DoctorHomeHeader img {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.DoctorHomeHeader {
  margin-top: 6rem;
  max-width: 50rem;
  color: #8958c7;
  padding: 2rem 4rem;
  background: #e5deed;
  /* border: 1px solid #e0e0e0; */
  box-sizing: border-box;
  box-shadow: -6px -6px 9px hsl(0deg 0% 100% / 40%),
    9px 9px 9px rgb(70 70 70 / 12%);
  border-radius: 8px;
}

.DoctorHomeHeader h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  text-align: center;

  padding: 1rem 0 1rem 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.DoctorHomeHeader h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  display: flex;
  align-items: center;

  padding-bottom: 1rem;
}

.DoctorHomeHeader h4 {
  max-width: 26.8rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .DoctorHomeHeader h2 {
    padding:0rem 0 0rem 0;
  }
  .DoctorHome {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
  }
  .DoctorHomeHeader {
    margin-top: 6rem;
    max-width: 40rem;
    color: #8958c7;
    padding: 1.75rem 2.5rem;
  }
}
